*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: var(--primary-font);
}
:root{
  --white: #fff;
  --black: #000;
  --primary-font:"Roboto", sans-serif;
  --secondary-font: "Alegreya Sans", sans-serif;
  --primary-color:#255506;
}

/* First Nav Section Start */
.firstNav{
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  padding: 0 55px;
}
.firstNav .search-icon input{
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--white);
  width: 290px;
  padding-bottom: 15px;
  color: var(--white);
}
.firstNav .search-icon input::placeholder{
  color: var(--white);
  font-weight: 200;
  font-size: 16.67px;
}
.firstNav .search-icon img{
  height: 23px;
  margin-left: -28px;
  cursor: pointer;
}
.firstNav .logo{
  justify-self: center;
  padding: 10px 0;
}
.firstNav .signIn{
  justify-self: end;
  display: flex;
  align-items: center;
}
.firstNav .signIn{
  justify-self: end;
  display: flex;
  align-items: center;
}
.firstNav .signIn .login-register a{
  color: var(--white);
  text-decoration: none;
}
.firstNav .signIn .icons{
  display: flex;
  margin-left: 25px;
  gap: 39px;
}
.firstNav .signIn .icons .first-img, .firstNav .signIn .icons .second-img {
  position: relative;
  cursor: pointer;

}
.firstNav .signIn .icons .first-img::after, .firstNav .signIn .icons .second-img::after{
  content: "1";
  font-size: 13.67px;
  color: var(--white);
  background-color: #448212;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -12px;
  right: -19px;
}
/* Main Nav Start */
.mainNav{
  background-color: var(--white);
  min-height: 80px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainNav ul{
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  align-items: center;
}
.mainNav ul li a{
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20.58px;

}
/* Main Nav End */
/* First Nav Section End */
/* Hero Section Start */
main{
  min-height: 100vh;
  background-image: url(./image/hero-bg.png);
  background-size: cover;
}
/* Hero Section End */
@media (max-width: 1200px) {
  /* First Nav  */
  .firstNav{
    min-height: 81px;
  }
  .firstNav .search-icon input{
    width: 280px;
    padding-bottom: 10px;
  }.firstNav .search-icon img{
    padding-top: 5px;
  }
  /* Main Nav */
  .mainNav ul li a{
    font-size: 19.58px;
  }
}
@media (max-width: 992px) {
  /* First Nav */
  .firstNav{
    grid-template-columns: repeat(2,1fr);
  }
  .firstNav .search-icon{
    grid-row: 2/3;
    grid-column: 1/-1;;
  }
  .firstNav .search-icon{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    /* margin-left: 6.6875rem; */
    padding: 0 20px;
  }
  .firstNav .search-icon input{
    background-color: transparent;
    border-bottom: 0px;
    border: 2px solid var(--white);
    border-radius: 10px;
    width: 100%;
    padding-bottom: 0px;
    padding: 10px ;
    color: var(--black);
    margin-bottom: 20px;
  }
  .firstNav .search-icon input::placeholder{
    color: gray;
    font-weight: 200;
    font-size: 16.67px;
  }
  .firstNav .logo{
    justify-self: start;
    margin-left: 22px;
  }
  .firstNav .signIn{
    justify-self: end;
    margin-right: 22px;
  }
  .firstNav .search-icon img{
    height: 23px;
    margin-left: -50px;
    margin-right: 10px;
    margin-top: 5px;
  }
  /* Main Nav */
  .mainNav ul li a{
    font-size: 18.58px;
  }
}
@media (max-width: 768px) {
  /* First Nav */
  .firstNav{
    padding: 0 10px;
  }
  .firstNav .search-icon{
    padding: 0;
  }
  .firstNav .logo{
    margin-left: 0px;
  }
  .firstNav .signIn{
    margin-right: 15px;
  }
  /* Main Nav */
  .mainNav ul li a{
    font-size: 17.58px;
  }
}
@media (max-width: 576px) {
  /* First Nav */
  .firstNav .signIn{
    align-items: center;
    flex-direction: column-reverse;
    gap: 5px;
  }
  /* Main Nav */
  .mainNav ul li a{
    font-size: 16.58px;
  }
  .mainNav ul{
    gap: 20px;
  }

}