*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: var(--primary-font);
}
:root{
  --white: #fff;
  --black: #000;
  --primary-font:"Roboto", sans-serif;
  --secondary-font: "Alegreya Sans", sans-serif;
  --primary-color:#255506;
}
/* Main Button  */
.mainBtn , .mainArrowBtn{
  background-color: var(--primary-color);
  border: none;
  outline: none;
  color: var(--white);
  padding: 18px 36px;
  font-size: 20.83px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.mainArrowBtn{
  margin-left: 20px;
  cursor: pointer;
}
/* Sub Header  */
.title{
  margin-top: 100px;
  text-align: center;
}
.subHeader{
  font-size: 45px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 26px;
}
.title p{
  font-size: 20px;
  color: var(--primary-color);
  line-height: 1.5;
}

/* Same Classes */
/* First Nav Section Start */
.firstNav{
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  padding: 0 55px;
}
.firstNav .search-icon input{
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--white);
  width: 290px;
  padding-bottom: 15px;
  color: var(--white);
}
.firstNav .search-icon input::placeholder{
  color: var(--white);
  font-weight: 200;
  font-size: 16.67px;
}
.firstNav .search-icon img{
  height: 23px;
  margin-left: -28px;
  cursor: pointer;
}
.firstNav .logo{
  justify-self: center;
  padding: 10px 0;
}
.firstNav .signIn{
  justify-self: end;
  display: flex;
  align-items: center;
}
.firstNav .signIn{
  justify-self: end;
  display: flex;
  align-items: center;
}
.firstNav .signIn .login-register a{
  color: var(--white);
  text-decoration: none;
}
.firstNav .signIn .icons{
  display: flex;
  margin-left: 25px;
  gap: 39px;
}
.firstNav .signIn .icons .first-img, .firstNav .signIn .icons .second-img {
  position: relative;
  cursor: pointer;

}
.firstNav .signIn .icons .first-img::after, .firstNav .signIn .icons .second-img::after{
  content: "1";
  font-size: 13.67px;
  color: var(--white);
  background-color: #448212;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -12px;
  right: -19px;
}
/* Main Nav Start */
.mainNav{
  background-color: var(--white);
  min-height: 60px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainNav ul{
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  align-items: center;
}
.mainNav ul li a{
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20.58px;

}
/* Main Nav End */
/* First Nav Section End */
/* Hero Section Start */
main{
  min-height: 100vh;
  background-image: url(./image/hero-bg.png);
  background-size: cover;
}
.hero-container{
  margin:  0 55px;
}
.hero-container h1{
  padding-top: 100px;
  font-size: 67px;
  color: var(--primary-color);
  margin-bottom: 25px;
}
.hero-container h2{
  font-size: 45px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 30px;

}
.hero-container span{
  display: block;
  width: 355px;
  height: 2px;
  background-color: var(--primary-color);
  margin-bottom: 30px;
}
.hero-container p{
  font-size: 20px;
  color: var(--primary-color);
}
.heroBtn,.heroArrowBtn{
  margin-top: 65px;
}
/* Hero Section End */
/* About Us Section Start */
.about-us-content{
  margin: 0 55px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.about-us-content h3{
  font-size: 42px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 25px;
}
.about-us-content p{
  font-size: 23px ;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.about-us-Btn, .about-us-ArrowBtn{
  margin-top: 30px;
}
.about-image-container{
  width: 500px;
  height: 500px;
  background:
    linear-gradient(rgba(126,156,104,0.68), rgba(126,156,104,0.68)),
    url(./image/about-main-img.png);
  filter: contrast(220%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.about-image-container .side-border-shape .image-1{
  position: absolute;
  left: -25px;
  top: -25px;
}
.about-image-container .side-border-shape .image-2{
  position: absolute;
  left: -25px;
  top: -25px;
}
.about-image-container .youtube-logo{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
}
/* About Us Section End */
@media (max-width: 1200px) {
  /* First Nav  */
  .firstNav{
    min-height: 81px;
  }
  .firstNav .search-icon input{
    width: 280px;
    padding-bottom: 10px;
  }.firstNav .search-icon img{
    padding-top: 5px;
  }
  /* Main Nav */
  .mainNav ul li a{
    font-size: 19.58px;
  }
  /* hero section  */
  .hero-container h1{
    font-size: 60px;
  }
  .hero-container h2{
    font-size: 40px;
  }
  .hero-container span{
    width: 340px;
  }
  .hero-container p{
    font-size: 19px;
  }
  /* About Us Section */
  .about-us-content{
    gap: 20px;
  }
  .about-item-1{
    flex-basis: 48%;
  }
  .about-us .line-br{
    display: none;
  }
  .about-us-content p {
    text-align: justify;
    font-size: 22px;
    margin-bottom: 16px;
}
  .about-us-content h3{
    font-size: 40px;
    margin-bottom: 22px;
    word-break: break-all;
  }
  .about-us-Btn, .about-us-ArrowBtn{
    margin-top: 25px;
  }
  .about-image-box{
    flex-basis: 48%;
  }
  .about-image-box .about-image-container{
    width: 100%;
  }
}
@media (max-width: 992px) {
  /* Same Classes */
  /* Main Btn */
  .mainBtn , .mainArrowBtn{
    padding: 17px 34px;
    font-size: 20px;
  }
  /* Sub Header  */
  .subHeader{
    font-size: 43px;
  }
  /* Same Classes */
  /* First Nav */
  .firstNav{
    grid-template-columns: repeat(2,1fr);
  }
  .firstNav .search-icon{
    grid-row: 2/3;
    grid-column: 1/-1;;
  }
  .firstNav .search-icon{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    /* margin-left: 6.6875rem; */
    padding: 0 20px;
  }
  .firstNav .search-icon input{
    background-color: transparent;
    border-bottom: 0px;
    border: 2px solid var(--white);
    border-radius: 10px;
    width: 100%;
    padding-bottom: 0px;
    padding: 10px ;
    color: var(--black);
    margin-bottom: 20px;
  }
  .firstNav .search-icon input::placeholder{
    color: gray;
    font-weight: 200;
    font-size: 16.67px;
  }
  .firstNav .logo{
    justify-self: start;
    margin-left: 22px;
  }
  .firstNav .signIn{
    justify-self: end;
    margin-right: 22px;
  }
  .firstNav .search-icon img{
    height: 23px;
    margin-left: -50px;
    margin-right: 10px;
    margin-top: 5px;
  }
  /* Main Nav */
  .mainNav ul li a{
    font-size: 18.58px;
  }
  /* hero section  */
  .hero-container h1{
    font-size: 57px;
  }
  .hero-container h2{
    font-size: 37px;
  }
  .hero-container span{
    width: 336px;
  }
  .hero-container p{
    font-size: 19px;
  }
  /* About Us Section */
  .about-us-content{
    gap: 30px;
    margin: 100px 25px 0;
  }
  .about-us .line-br{
    display: none;
  }
  .about-us-content p {
    font-size: 20px;
    margin-bottom: 16px;
}
  .about-us-content h3{
    font-size: 37px;
    margin-bottom: 20px;
    word-break: break-all;
  }
  .about-us-Btn, .about-us-ArrowBtn{
    margin-top: 23px;
  }
  .about-image-container .side-border-shape .image-1{
    left: -20px;
    top: -20px;
  }
  .about-image-container .side-border-shape .image-2{
    left: -20px;
    top: -20px;
  }
}
@media (max-width: 768px) {
  /* Same Classes */
  /* Main Btn */
  .mainBtn , .mainArrowBtn{
    padding: 16px 32px;
  }
  /* Same Classes */
  /* First Nav */
  .firstNav{
    padding: 0 10px;
  }
  .firstNav .search-icon{
    padding: 0;
  }
  .firstNav .logo{
    margin-left: 0px;
  }
  .firstNav .signIn{
    margin-right: 15px;
  }
  /* Main Nav */
  .mainNav ul li a{
    font-size: 17.58px;
  }
  /* Hero section */
  main{
    background-position: center;
  }
  .hero-container{
    text-align: center;
    padding: 0 0px;
  }
  .hero-container span{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  /* hero section  */
  .hero-container h1{
    font-size: 50px;
  }
  .hero-container h2{
    font-size: 33px;
  }
  .hero-container span{
    width: 350px;
  }
  .hero-container p{
    font-size: 18px;
  }
  /* About Us Section */
  .about-us-content{
    margin: 100px 55px;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .about-us-content h3{
    font-size: 42px;
    margin-bottom: 25px;
    margin-top: 50px;
  }
  .about-us-content p{
    font-size: 23px ;
    margin-bottom: 20px;
  }
  .about-us-Btn, .about-us-ArrowBtn{
    margin-top: 30px;
  }
  .about-image-container .side-border-shape .image-1{
    left: -25px;
    top: -25px;
  }
  .about-image-container .side-border-shape .image-2{
    left: -25px;
    top: -25px;
  }
}
@media (max-width: 576px) {
  /* Same Classes */
  /* Sub Header  */
  .subHeader{
    font-size: 40px;
    margin-bottom: 26px;
  }
  .title .line-break{
    display: none;
  }
  /* Same Classes */
  /* First Nav */
  .firstNav .signIn{
    align-items: center;
    flex-direction: column-reverse;
    gap: 5px;
  }
  /* Main Nav */
  .mainNav ul li a{
    font-size: 16.58px;
  }
  .mainNav ul{
    gap: 20px;
  }
  /* Hero section */
  .hero-container p br{
    display: none;
  }
  /* About Us Section */
  /* About Us Section */
  .about-us-content{
    margin: 100px 40px;
  }
  .about-us-content h3{
    font-size: 35px;
  }
  .about-us-content p{
    font-size: 19px ;
    margin-bottom: 20px;
  }
  .about-us-Btn, .about-us-ArrowBtn{
    margin-top: 30px;
  }
  .about-image-container .side-border-shape .image-1{
    left: -25px;
    top: -25px;
  }
  .about-image-container .side-border-shape .image-2{
    left: -25px;
    top: -25px;
  }

}